.task-box {
  width: 100%;
  margin-bottom: .550em;
  padding: .7em;
  border-radius: .9em;
  color: #959595;
  background-color: #151432;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fade .5s ease-in-out;
}

.task-name-box input {
  width: 1.2em;
  height: 1.2em;
}

.task-name-box label {
  width: 100%;
  margin: 0 1em;
  word-break: break-all;
  transition: .8s;
}

.task-checked {
  font-style: italic;
  color: #3e9c5979;
  text-decoration: line-through;
}

.item-options button {
  width: 1.8em;
  height: 1.8em;
  border: none;
  border-radius: 1.2em;
  background-color: transparent;
  transition: .650s;
}

.item-options button:hover {
  transform: rotate(360deg);
}

.item-options img {
  width: 1.8em;
  height: 1.8em;
}

.task-name-box {
  display: flex;
  align-items: center;
}